body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
.top-banner{
   background-repeat: no-repeat;
}
h1{
    font-size: 3rem;
}
p{
    text-align: justify;
    font-size: 1.2rem;
}
.title{
    width: 50%;
    margin-left: 7%;
    margin-right: 10%;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.img img{
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
}
.lb a{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 8px;
    color: peachpuff;
}

.dream-bg{
    float: right;
    
}
#card-1{
    box-sizing: border-box;
    box-shadow: 4px 6px 10px black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 7%;
   
    
}
#card-2{
    box-sizing: border-box;
    box-shadow: 4px 6px 10px black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 7%;
    
    
}
.exp-bg img{
    background-repeat: no-repeat;
    float: left;
}
.h2{
    font-size: 2.5rem;
    color: #FA735D;
}
footer p{
    text-align: center;
}